<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>파도 예보</title>
        <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body class="container">
        <a type="button" class="btn btn-outline-primary btn-lg md-3" href="/">뒤로 가기</a>

        <div class="row">

            <img id="image" th:src="${data[0].filePath}" alt="이미지" class="img-fluid col-sm-6">

            <div class="row col-sm-6">

                <div class="row">
                    <button id="prev-btn" class="btn all-btn btn-outline-secondary col">< 이전</button>
                    <button id="next-btn" class="btn all-btn btn-outline-secondary col">이후 ></button>
                </div>

                <div class="row h-55">
                    <button class="btn show-image-btn all-btn btn-light col-4"
                            th:each="info : ${data}"
                            th:data-image-src="${info.filePath}"
                            th:text="|(${info.day}일) ${info.dayOfWeek} ${info.hour}시|"
                            th:classappend="${infoStat.first} ? 'bg-primary' : _">
                    </button>
                </div>

            </div>

        </div>
    </body>

    <script th:src="@{/js/surf-image.js}"></script>
</html>