<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/slides.css}" rel="stylesheet" />
    <script src="/js/slides.js" defer></script>
</head>
<body>
<div id="slideShow">
    <ul class="slides">
        <li th:each="info : ${data}" class="section">
            <img th:src="${info.filePath}"/>
        </li>
    </ul>
    <p class="controller">
        <span class="prev">&lang;</span>
        <span class="next">&rang;</span>
    </p>
</div>
</body>
<script th:inline="javascript">


</script>
</html>